@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&family=Roboto+Condensed:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.text-box {
    background-image: url(resources/Banner\ Image.png);
    width: 1320px;
    height: 600px;
    text-align: center;
    margin: 50px 20% 0 20%;
    display: block;
}

.fist-text-box h3 {
    padding-top: 150px;
    font-size: 32px;
    color: #fff;
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.fist-text-box h1 {
    color: #fff;
    font-size: 72px;
    font-weight: 700;
    font-family: 'Poppins';
}

/* second-box styleing*/
.second-box {
    text-align: center;
    width: 650px;
    height: 535px;
    background-color: rgb(255, 255, 255);
    margin-top: 50px;
    margin-left: 760px;
}

.second-box h1 {
    color: #F00;
    font-size: 88px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 550;
}

.second-box h4 {
    color: #F00;
    font-size: 24px;
    font-size: 500;
}

.second-box h2 {
    font-size: 48px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
}

.second-box .new-year-pc {
    width: 650px;
    height: 535px;
}

.thard-box {
    width: 1320px;
    height: 600px;
    background-image: url(resources/Vectorrr.png);
    margin: 290px 400px 0 400px;
    text-align: center;
}
.tow-zeo{
    margin-top: 80px;
    margin-left: 250px;
    position: absolute;

}

.thard-box .text .vejal{
    margin-bottom: 100px;
}
.thard-box .text {
    width: 700px;
    height: 100px;
    color: #fff;
    padding-top: 150px;
    text-align: left;
    margin-left: 100px;
}

.thard-box .text h1 {
    color: rgb(255, 255, 255);
    font-size: 64px;
    font-weight: 500;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 20px;
}

.thard-box .text p {
    font-size: 18px;
    font-weight: 400;
}

.join-btn {
    width: 150px;
    font-size: 20px;
    border: none;
    background: none;
    margin-top: 30px;
}

.join-btn a {
    color: #fff;
    text-decoration: none;
    transition: 0.5s;
}
.join-btn a:hover{
    background-color: rgb(232, 106, 48);
    padding: 9px;
    border-radius: 5px;
    color: rgb(20, 1, 27);
}
.detels-box{
    font-family: serif;
    width: 1320px;
    height: 482px;
    background: linear-gradient(#e0afafae, #bb3e3e00);
    /* margin: 100px auto 0 auto; */
    margin: 100px 400px 0 400px;
    border-radius: 9px;
    text-align: center;
    font-size: 35px;
}
.detels-box .detels{
    padding: 150px 0 0 0;
    font-weight: 600;
}
.detels-box .detels .red-text{
    color: rgb(255, 0, 0);
}
.detels-box .detels .p-text{
    padding-top: 4px;
}
.join-btn-two{
    border-radius: 6px;
    border: none;
    background-color: #F00;
    margin-top: 60PX;
    padding: 13px;
    transition: 0.5s;
}
.join-btn-two a{
    text-decoration: none;
    color: #fff;
    font-size: 17px;
    font-weight: 600;
}
.join-btn-two:hover{
    background-color: rgb(39, 11, 65);
}
/* three-boxses */
.three-boxses{
    background-color: rgb(255, 255, 255);
    display: flex;
    width: 1320px;
    height: 350px;
    margin: 200px 400px 0 400px;
    align-items: center;
    justify-content: space-between;
}
.three-boxses .offer-box-fast{
    width: 300px;
    margin-left: 100px;
}
.three-boxses .offer-box-fast .red-h{
    color: #F00;
    font-size: 20px;
    font-weight: 600;
}
.three-boxses .offer-box-fast .red-hh{
    font-size: 42px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    padding-bottom: 19px;
}

.three-boxses .offer-img-box{
    border: 10px solid red;
    border-radius: 50%;
    padding: 15px;
}
.three-boxses .offer-box-three{
    margin-right: 100px;
}
.three-boxses .offer-box-three .three-h{
    margin-top: 15px;
    padding-bottom: 19px;
    color: #F00;
    font-size: 51px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.three-boxses .offer-box-three .p-box{
    width: 300px;
}
.three-boxses .offer-box-three .soto-logo{
    margin-top: 10px;
    margin-right: 120px;
}